{% extends "layout.html" %}

{% block title %}
    HOME
{% endblock %}


{%block content%}
    <h2 style="color: #1df557"> Select parameters and # of suspicious users to detect : </h2>
{%endblock%}

{%block body%}

<form action = "{{url_for('analysis')}}" method="post">
	<div class="search">
<select name="parameter">
<option value="kill">KILL</option>
  <option value="headshot">HEADSHOT</option>
  <option value="kill_per_min">KILL_PER_MIN</option>
	<option value="head_per_kill">HEADSHOT_PER_KILL</option>
	<option value="damage">DAMAGE</option>
  </select>

		<select name="target">
<option value="10">10</option>
  <option value="20">20</option>
  <option value="30">30</option>
  </select>


		<button class="btn btn-primary" onclick="$('#loading').show();">Search</button>
	</div>
</form>
<div id="loading" style="display:none;"><img src="/static/giphy1.gif" alt="" />Loading!</div>

{% endblock %}
