{% extends "layout2.html" %}

{% block title %}
    Results
{% endblock %}

{% block body %}
    <h2> The following user, <b>{{check}}</b>, has been found suspicious for the following reasons  </h2>
    <h3> Click on the parameters to view user details </h3>

<style>
a:hover {
  background-color: yellow;
}
</style>


<table class="table" style="background-color: rgba(13, 27, 21, 0.6);">

  <thead>
   <tr>
       <th style="color: yellow;"> Suspicious parameters </th>

   </tr>
    </thead>


    {% for key, value in check_res.items() %}

  <tbody>
    <tr>
      <td>  <a href="{{ url_for('search_res', username=user.username) }}" style="color: red;">{{value}}</a> </td>

    </tr>
    </tbody>
{% endfor %}
</table>

<!--
<table class="table" style="background-color: rgba(13, 27, 21, 0.6);">
    <thead>
      <tr>
        <th style="color: red;"> UserID </th>
        <th style="color: red;"> Parameter </th>

      </tr>
    </thead>

    {% for book in check_res%}

    <tbody>
      <tr>

        <td>  <a href="{{ url_for('search_res', username=book.username) }}" style="color: red;">{{book.username}}</a> </td>
         <td style="color: red;"> Too high {{book.parameter}} </td>

      </tr>
    </tbody>

  {%endfor%}
    </table> -->


<button type="button" onclick="window.location.href='{{ url_for( 'home' ) }}';"> Go back </button>
{% endblock %}
