{% extends "layout.html" %}

{% block title %}
    HOME
{% endblock %}

{% block body %}

    <nav>
    	<ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="/logout">Logout</a></li>
        </ul>
    </nav>

<form action = "{{url_for('search')}}" method="post">

    <div class="search">

<select name="type">
<option value="username">USER NAME</option>
  </select>

   <input type="text" name="fvalue" required="required"
         placeholder="add/select a value" onfocus="this.select()">

		<button class="btn btn-primary">Search</button>
	</div>
</form>

{% endblock %}
